
.header {
  display: flex;
  background-color: red;
  padding:10px;
}

.header-right {
  margin-left:5px;
}

.header-link {
  margin-right: 3px;
  color: #fff;
  font-size: 14px;
  margin-right: 4px;
}
