.search-main{
  flex-grow : 2;
}
.search-middle{
  border-radius : 25px;
  border: 0;
  padding-top:2px;
  padding-bottom:2px;
  width:100%
}
.ant-input{
  border-radius: 20px;
}

.Page-header{
  display: flex;
  background-color: red;
  padding:10px;
  height: 44px;
}
.Page-text{
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
}
.Page-search{
  float: 1;
}